<%= render "layouts/navbar" %>
<div class="jumbotron">
        <h1>Cancun</h1>
        <p class="lead">Place practically made for tourism, great choice traveller!</p>
                <% if user_signed_in?%>
          <p><a class="btn btn-lg btn-success" href="/hotels" role="button">Book a trip now!</a></p>
        <% else %>
          <p><a class="btn btn-lg btn-success" href="/users/sign_in" role="button">Sign in to book a trip now!</a></p>
        <% end %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Coco Bongo</h2>
          <p>Located right in the heart of the Hotel Zone, Coco Bongo Cancun stands out among dozens of bars and clubs that form the party capital in Mexico. Just one block from the majestic Caribbean Sea, emerges a spectacular colossus indicating the travelers the arrival to the most shocking night of their lives. Prepare to be amazed with flying acrobats, impressive musical tributes and the continuous party atmosphere that has made us world famous. </p>
          <p><a class="btn btn-primary" href="https://www.cocobongo.com/" target="_blank" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Tulum</h2>
          <p>The Tulum National Park is an eco-archaeological site situated on Mexico’s Yucatán Peninsula. The park features a beautifully preserved archaeological compound set amid a stunning landscape that includes cenotes (sinkholes), and some of the Yucatan’s most dramatic coastline. 
 </p>
          <p><a class="btn btn-primary" href="http://www.tulum.com/information/mayan-background/" target="_blank" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Xcaret</h2>
          <p>I am a natural sanctuary where the history of Mexico combines with fun traditions and the splendor of the Mayan culture. I open my doors along the Caribbean Sea and invite you to discover magical experiences where underground rivers await you, along with the fauna of the Mayan jungle and unforgettable shows. </p>
          <p><a class="btn btn-primary" href="http://www.xcaret.com/" target="_blank" role="button">View details &raquo;</a></p>
        </div>
      </div>
