<!DOCTYPE html>
<html>
  <head>
    <title>Tripeante</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
   <footer class="footer">
        <p>&copy; Tripeante, Inc.</p>
      </footer>
</html>
